@import url('https://fonts.googleapis.com/css?family=Lato');

.accordion {
  max-width: 600px;
  font-family: Lato;
  margin-bottom: 20px;
  background-color: #ec5366;
  border-radius: 6px;
}

.accordion .header{
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 8px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.accordion .body{
  overflow: hidden;
  background-color: #fff;
  border: 10px solid #ec5366;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 150ms ease-out;
}

.accordion .body-inner{
  padding: 8px;
  overflow-wrap: break-word;
}

.accordion .header-icon.rotate{
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.accordion.purple{
  background-color: #8c618d;
}

.accordion.purple .body{
  border-color: #8c618d;
}